/_ini.php
/tmpdata/
/tmp/
/documentation/
/cache/
/assets/

# Package Files #
*.dat
*.mp4
*.zip
*.tmp

/3rdparty/videoplayer/
/3rdparty/video/
/3rdparty/flipbook/
/3rdparty/cache/
/3rdparty/backgrounds/
/3rdparty/ajaxcrud/
/3rdparty/SEOstats/
/3rdparty/DiscordPHP-master/
/3rdparty/posters/
/3rdparty/thumb/
/3rdparty/widgets/
/lib/AjaxCrud/
/lib/plupload/
/lib/prism/
/lib/videoplayer/
/lib/wmbox/
/lib/validation/
/3rdparty/x4-crypto-charts/source-files/
/3rdparty/geoip/